.logo-text {
	display: inline;
	font-size: 0.9em;
}

.nav,.navbar-nav,.main-menu {
	font-size : 0.7em;
}

.main-container> .navbar {
	border-bottom: 2px solid yellow;
	margin: 0px;
}
 


  #image1-ss , #image2-ss , #image3-ss {
  	height: 200px;
  	object-fit: cover;
  }

  #slideshowx{
  	padding: 0px;
  	margin: 0px;
  	margin-bottom: 50px;
  }
.food-menu {
  background-color: orange;
  margin-bottom: 20px;
}
 ul.sub-menu>li , ul{
  display: inline;
  color: white;
  padding : 2px 10px 2px 10px;

 }

  .footer-container> .navbar {
	border-top: 2px solid yellow;
	margin: 0px;
	margin-top: 20px;
}

.card-food {
  object-fit: cover;
  width: 100%;
 
  height: 200px;
}
.card {
  border : 1px solid grey;
  margin-bottom: 20px;
  padding: 0px 0px 10px 0px;
}
.card-info {
  padding: 0px 10px 0px 10px;
}

.footer-container {
  margin-top: 200px;
}
.details {
  font-weight: 200;
  color: grey;

}

#menu-cards > .col-md-6 >.card > .card-price {
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    margin-bottom: 7px;
    cursor: pointer;
}
#menu-cards > .col-md-6 >.card > .card-price > div > span {
    background-color: lightgrey;
    /*margin: 10px 10px 10px 10px;*/
    padding: 5px 10px;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}
#menu-cards > .col-md-6 >.card > .card-price > div {
  margin: 5px 0px;

}

.receipt {
  
}

#empty-order {
  text-align: center;
  font-size: 1.3em;
  padding: 8px 0px;
  color: #a4a4a4;
}

.table-receipt {
  width: 100%;
  color: #a4a4a4;

}


 td,th {
  padding: 3px 0px;
}

td:nth-child(2){
  font-weight: bold;
  color: black;
}
tr:nth-child(4){
  
  font-size: 1.2em;
 
}

#ordered {
  width: 100%;
}
.orderedStyle{
  font-size: 1.0em;
  color: grey;
  text-align: left;
  margin-bottom: 0px;
  font-weight: lighter;
  display: inline;
}
.itemPrice {
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
  text-align: right;
  vertical-align: top;
  margin-top: -13px;
  color: black;
}

.removebtn {
  color: red;
  display: inline;
  cursor: pointer;
}
